# Ignore build and temporary files
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.suo
.vscode/
.vs/

# Ignore package files
packages/
*.nupkg
*.snupkg

# Ignore logs, lock files, and temporary files
*.log
*.cache
*.dll
*.pdb